 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Olá, meu nome é Gabriel, tenho 17 anos e sou programador, programo em Ruby, JavaScript e PHP e recentemente venho estudando Machine Learning usando Python como linguagem de estudo, sou cristão e atualmente moro em Campo Bom, Rio Grande do Sul. Gosto de cinema, livros, música, tocar violão e estudar filosofia, história e ciência.</p>
                </div>
            </div>
        </div>
    </section>
