<section id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Skills</h2>
            </div>
        </div>
        <div class="row">
                <div class="col-sm-12 portfolio-item">
                  <div class="skils">
                    <h3>Ruby <small>(Ruby on Rails)</small> - </h3>
                    <p>
                      Fazem aproximadamente 5 meses que venho estudando Ruby, mais especificamente Ruby on Rails.
                      Rails passou a ser o meu framework favorito por ser um framework que permite rapidez e a
                      fácil detecção de falhas durante o desenvolvimento.
                    </p>
                  </div>
                  <div class="skils">
                    <h3>JavaScript <small>(jQuery, AngularJS, Node.js)</small> - </h3>
                    <p>
                      JavaScript é essencial para o desenvolvimento web, o uso de frameworks como
                      jQuery(fazer uns efeitinho dahora, by frontend developer) e AngularJS facilitam na dinâmica do site e no melhoramento
                      das funcionalidades, como por exemplo, o uso de JS para fazer coisas que não precisam diretamente ir pra o server-side. Já com o Node.js, o desenvolvedor
                      possui o JS tanto no lado do servidor quanto no lado do cliente, podendo assim trabalhar somente com uma linguagem de programação durante todo o projeto.
                      JavaScript é vida amiguinhos!!!!!
                    </p>
                  </div>
                  <div class="skils">
                    <h3>PHP <small>(CodeIgniter)</small> - </h3>
                    <p>
                      Venho programando em PHP por aproximadamente 1 ano, e desde o começo venho programando com o framework CodeIgniter,
                      usei CodeIgniter para desenvolver um projeto do Seminário Integrado da escola em que estudo, o objetivo era desenvolver uma rede social(mission accomplished).
                    </p>
                  </div>
                  <hr>
                  <div class="skills">
                    <h4>Git - </h4>
                    add .
                  </div>
                  <div class="skills">
                    <h4>Inglês <small>(avançado)</small> - </h4>
                    Well...
                  </div>
                  <div class="skills">
                    <h4>Café - </h4>
                    4 colheres de café e 3 de açúcar?
                  </div>
                </div>
        </div>
    </div>
</section>
<hr>
